.InfoContainer {
    display: flex;
    flex-direction: column;
    background-color: #ffffff0f !important;
    margin: 10px 0px;
    padding: 0px 15px;
    border-radius: 10px;
}

.FieldContainer {
    display: flex;
    flex-direction: row;
}

.InputContainer {
    display: flex;
    flex-direction: column;
}

.ModalField {
    flex: 1;
    margin: 10px 0px;
    display: flex;
    vertical-align: top;
}

.ModalField input[type="text"],
.ModalField input[type="email"],
.ModalField input[type="tel"],
.ModalField input[type="date"],
.ModalField input[type="number"] {
    width: 90%;
    background-color: #6dacff37;
    border: none;
    border-radius: 5px;
    color: #004aad;
    font-weight: 600;
    height: 4vh;
    margin-top: 10px;
    font-size: 1rem;
    border-bottom: 2px solid #004aad;
}

.ModalField input[type="date"] {
    background-color: white;
}

.ModalField label,
.FullModalFieldSection label {
    color: #004aaddd;
    font-weight: 700;
    text-align: left;
}

.ModalField input:focus {
    border: none;
}

.SectionLine {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}
.SectionLine .Cell {
    flex: 8;
    display: flex;
}

.SectionLine div p.SectionCell {
    height: min-content;
    vertical-align: middle;
    border-radius: 10px;
    margin: 4px;
}

.SectionCell input,
.Select {
    width: 100%;
    background-color: #6dacff37;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    height: 4vh;
    margin-top: 10px;
    font-size: 1rem;
    border-bottom: 2px solid #004aad;
}

.SectionCell label {
    font-weight: 700;
    text-align: left;
}

.ModalField input:focus {
    border: none;
}

.ButtonStandard {
    border: none;
    background: #00357be4;
    padding: 12px;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: all 0.5s;
    color: white;
    cursor: pointer;
    transition: all 0.4s;
}

.ButtonStandard:hover {
    transform: scale(1.1);
    background: white;
    color: #00357be4;
}

.Info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.InfoSection {
    flex: 1;
    width: 100%;
}

.InfoSection h3 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0px;
}

.InfoSection b {
    margin-right: 50px;
    opacity: 0.9;
}
