.PopUp_Container {
    display: block;
    position: fixed;
    bottom: 3vh;
    right: 3vh;
    border-radius: 10px;
    padding: 0px 40px 0px 20px;
    text-align: left;
    box-shadow: 0px 2px 10px #0009;
    background-color: #004aaddd;
    display: flex;
    flex-direction: row;
    width: 25%;
    padding: 10px 20px;
}

.PopUp_Container_Green {
    background-color: #5f5b;
    @extend .PopUp_Container;
}

.PopUp_Container_Warning {
    background-color: #ff5b;
    @extend .PopUp_Container;
}

.PopUp_Container_Waiting {
    background-color: rgba(27, 203, 235, 0.733);
    @extend .PopUp_Container;
}

.PopUp_Container_Error {
    background-color: #f55b;
    @extend .PopUp_Container;
}

.PopUp_StatusIcon {
    flex: 2;
    font-size: 3rem;
}

.PopUp_StatusMsg {
    flex: 8;
}

.PopUp_StatusMsg h5 {
    font-size: 1.5rem;
    margin: 2px;
}

.PopUp_StatusMsg p {
    margin: 2px;
    margin-top: 5px;
}

.toggle {
    display: flex;
    flex-direction: row;
    border: #393939aa 2px solid;
    border-radius: 5px;
    color: white;
    width: min-content;
    height: 40px;
}

.active {
    background-color: #939393aa;
    border-radius: 5px;
    padding: 5px;
    width: 5vw;
}

.inactive {
    padding: 5px;
    width: 5vw;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #393939ae!important;
    color: white;
    font-size: 20px;
    z-index: 100;
    border-radius: 50%;
    font-weight: 800;
}

.avatar_menu {
    display: flex;
    background-color: #e7d8d8;
    border: 1px black solid;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #393939;
    margin-top: 2vh;
}

.avatar_menu li{
    padding: 5px;
}

