/* 
COLORI::
MENU TONALITA DI BLU::
1-2d5497
2-5487de
3-00399c

MAIN BASE GRIGIO SCURO : 1b212b

MAIN ELEMNT ARANCIO:
1-E67D3A
2-f78339
3-fc4e03
*/

.main {
    position: relative;
    color: rgb(57, 57, 57);
}

.menubase {
    background: rgb(77, 126, 212);
    background: linear-gradient(180deg, rgba(77, 126, 212, 1) 9%, rgba(55, 111, 209, 1) 33%, rgba(34, 98, 210, 1) 100%);
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
}

.menubase nav {
    display: inline-block;
    height: 100vh;
    width: 10vw;
    padding-top: 8vh;
}

.menubase nav ul {
    width: 100%;
    padding: 0px;
}

.menubase nav ul li {
    /* border-top: 1px solid #333c; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    text-align: center;
    background-color: #ffffff0f !important;
    margin: 5px 7px;
    border-radius: 5px;
}

.menubase nav ul li:hover {
    background-color: #5487de !important;
    font-weight: 800;
}

.menubase nav a {
    color: rgb(57, 57, 57);
    text-decoration: none;
    padding: 5px;
    text-align: center;
    font-weight: 600;
}

.menubase .CentralMenuContentFull {
    display: inline-block;
    width: 100vw;
}

.menubase .CentralMenuContent {
    display: inline-block;
    width: 80vw;
}

.menubase .CentralMenuContent .CentralTopSection,
.menubase .CentralMenuContentFull .CentralTopSection {
    margin: 0px;
    text-align: center;
    min-height: 20px;
}

.menubase .CentralMenuContent .CentralTopSection div,
.menubase .CentralMenuContentFull .CentralTopSection div {
    background-color: #ffffff0f;
    display: inline-block;
    margin: auto;
    padding: 10px 15vw;
    margin-top: 1vh;
    width: 20vw;
    border-radius: 10px;
    color: rgb(57, 57, 57);
}

.menubase .CentralMenuContent .CentralTopSection .LatBtn,
.menubase .CentralMenuContentFull .CentralTopSection .LatBtn {
    background-color: #ffffff0f;
    margin: auto;
    padding: 10px 10px;
    margin: 10px;
    margin-top: 1vh;
    width: 2vw;
    border-radius: 10px;
    color: rgb(57, 57, 57);
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s;
}

.menubase .CentralMenuContent .CentralTopSection .LatBtn:hover,
.menubase .CentralMenuContentFull .CentralTopSection .LatBtn:hover {
    background-color: #ffffff3f;
    transform: scale(1.1);
}

.menubase .CentralMenuContent .CentralTopSection h1,
.menubase .CentralMenuContent .CentralTopSection h3,
.menubase .CentralMenuContent .CentralTopSection i,
.menubase .CentralMenuContentFull .CentralTopSection h1,
.menubase .CentralMenuContentFull .CentralTopSection h3,
.menubase .CentralMenuContentFull .CentralTopSection i {
    margin: 0px;
    margin-left: 5px;
    display: inline-block;
}

.menubase .CentralMenuContent .CentralMidSection,
.menubase .CentralMenuContentFull .CentralMidSection {
    height: 90vh;
}

.menubase .CentralMenuContent .CentralBottomSection,
.menubase .CentralMenuContentFull .CentralBottomSection {
    height: 3vh;
}

.mainbase {
    background-color: #aaaaaa2f;
    display: flex;
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 87vh;
    border-radius: 10px;
    z-index: 100;
    transition: all 0.3s;
    justify-content: center; /* allinea orizzontalmente */
    align-items: start; /* allinea verticalmente */
    overflow-y: auto;
}

.particleLayer {
    background-color: #aaaaaa2f;
    display: flex;
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 87vh;
    border-radius: 10px;
    z-index: 90;
    transition: all 0.3s;
    justify-content: center; /* allinea orizzontalmente */
    align-items: start; /* allinea verticalmente */
    overflow-y: auto;
}

.expanded {
    top: 2vh;
    left: 1vw;
    width: 95.5vw;
    height: 96vh;
    background-color: #cccccc3f;
}

.IconMain {
    display: block;
    position: fixed;
    top: 1vh;
    font-size: 2rem;
    right: 1vh;
    opacity: 0.6;
    transition: all 0.3s;
    background-color: #ffffff0f !important;
    height: 2rem;
    padding: 4px;
    border-radius: 5px;
}

.IconMain:hover {
    opacity: 1;
    transform: scale(1.15);
}
