.PageEditor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex: 6;
}

.PageEditor .PageEditorHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 98%;
    background-color: #004aadbb;
    border-radius: 10px;
    margin-bottom: 10px;
    flex: 1;
}

.PageEditor .PageEditorHeader .PageEditorHeadeButtonContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    padding: 10px;
}

.PageEditor .PageEditorHeader .PageEditorHeadeButtonContainer .PageEditorHeaderDiv {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.PageEditor .PageEditorHeader .PageEditorHeadeButtonContainer .PageEditorHeaderDiv .PageEditorHeaderButton {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
    background-color: #ffffff33;
    border: none;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
    margin: 0px 10px;
}

.PageEditor .PageEditorBody {
    flex: 5;
    display: flex;
    width: 98%;
    height: 100%;
    border-radius: 10px;
}

.PageEditor .PageEditorBody .PageEditorBodyContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 49vh;
    overflow-y: scroll;
}

.PageEditor .PageEditorBody .PageEditorPlaceHolder h3 {
    font-size: 3rem;
    opacity: 0.8;
}

.PageEditor .PageEditorBody .PageEditorPlaceHolder p {
    margin-top: 10vh;
}

.PageEditor .PageEditorBody .PageEditorPlaceHolder {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 10px;
    text-align: center;
}

.PageEditor .PageEditorBody .PageEditorBodySection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: min-content;
    background-color: #004aadbb;
    border-radius: 10px;
    margin-bottom: 10px;
}

.placeholder {
    font-size: 1rem;
    opacity: 0.6;
    transition: all 0.5s ease;
}

.placeholder:hover {
    opacity: 1;
}

.PreviewSection {
    flex: 1 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #004aadbb;
    border-radius: 10px;
    margin: 10px;
}

.ConfigSection {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    margin: 10px;
    border-radius: 10px;
    min-height: 6vh;
    height: 90%;
}

.ConfigSection div {
    flex: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

.ConfigSection .AltoBasso {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed #ffffffc6;
    width: 98%;
    margin: 10px;
    border-radius: 10px;
    min-height: 6vh;
}

.ConfigSection .DestraSinistra {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border: 2px dashed #ffffffc6;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
}

.ConfigSection .Icon {
    flex: 8;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border: 2px solid #ffffffc6;
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff22;
    min-height: 10vh;
}

.ConfigSection .Icon div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.Configure {
    padding: 10px 15px;
    border: 2px solid white;
    background-color: #ffffff00;
    border-radius: 10px;
    font-size: 1.3rem;
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
    transition: all 0.5s ease;
}

.Configure:hover {
    background-color: #ffffff33;
    cursor: pointer;
    transform: scale(1.1);
}
