/* table.module.css */
.TableBase {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    margin: auto;
    margin-top: 3vh;
    border-radius: 10px;
}

.TableBase .TableHeadBox {
    background-color: #ff7721a1;
    border-radius: 10px 10px 0px 0px;
    color: rgb(47, 47, 47);
    font-weight: 800;
    font-size: 1.3rem;
    padding: 5px;
}

.TableBase .TableBodyBox {
    min-height: 20vh;
    border-radius: 0px 0px 10px 10px;
    border: 5px solid #ff7721a1;
}

.TableBaseRow {
    display: flex;
}

.TabIconBtn {
    background-color: #ffffff52 !important;
    border: none;
    font-size: 1rem;
    height: 2rem;
    padding: 4px 8px;
    border-radius: 5px;
    transition: all 0.3s;
}

.TabIconBtn:hover {
    transform: scale(1.1);
}

.TableBaseRowWhite {
    display: flex;
    background-color: transparent;
    color: rgb(47, 47, 47);
    font-weight: 600;
}

.TableBaseRowWhite div {
    border-left: 1px solid #ff772131;
    border-right: 1px solid #ff772131;
    padding: 6px 0px;
}

.TableBaseRowBlue div {
    padding: 6px 0px;
}

.TableBaseRowBlue {
    display: flex;
    background-color: #ff7721a1;
    color: rgb(37, 37, 37);
    font-weight: 600;
}

.TableEndRow {
    display: flex;
}

.buttonAdd {
    padding: 8px 15px;
    border: none;
    font-size: 1rem;
    font-weight: 200;
    border-radius: 5px;
    background-color: #ffffff4d;
    margin: 15px 5px;
}

.buttonAdd:hover {
    transform: scale(1.05);
}

.TableBaseHeader,
.TableBaseCell {
    flex: 1;
    text-align: center;
}

.PageContainer {
    width: 100%;
    padding: 10px;
}
