.tabContainer {
    border-radius: 5px;
    padding: 20px 10px;
    background-color: #ffffff11;
    margin: 14px;
}

.tabs {
    display: flex;
}

.tabs button {
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: border-color 0.3s;
    text-align: center;
    color: #2f2f2f91;
    font-weight: 600;
    border-bottom: 2px solid #2f2f2f21;
    width: 100%;
}
.tabs button:hover {
    border-bottom: 2px solid #2e2e2e91;
}
.tabs button.active {
    border-bottom: 5px solid #2e2e2eb1;
    color: #2f2f2fb1;
    padding-bottom: -3px;
}

.tabcontentActive {
    display: block !important;
}

.tabcontentHidden {
    display: none !important;
}
